.reseniaTexto {
    font-style: italic;
    color: #555;
}

.tarjetaImg {
    height: 200px;
    object-fit: cover;
}

.tarjetaFooter {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboardMainLayout {
    min-height: calc(100vh - 70px);
}

.colocarContenido{
    flex:1;
    padding: 32px;
}
