.separarBtn{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contenedorLogin {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardLogin {
    width: 600px;
}