.datosTituloAcordeon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.tarjetaContenido {
    padding: 24px;
}

.mpCardLocked {
    opacity: 0.55;
}

.tajetaFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    margin-top: auto;
}

.puntos {
    font-weight: 500;
}

.ant-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ant-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
