#preFooter{
    padding: 30px;
    background-color: var(--color-footer-fondo);
    align-items: center;     
    text-align: center;
}
.txtFooter{
    color: var(--color-footer-texto);
}
.titulosFooter{
    color:  var(--color-principal) !important;
}