.textoFecha{
    float: right;
    font-weight: normal;
    font-size: 12px;
}

.colocarAcordeon {
    padding: 24px;
}

.btnConfirmar{
    margin-top: 10px;
    background-color: #52c41a;
    border: none;
}

.btnConfirmar:hover{
    background-color: #7de748 !important;
}

.btnConfirmar:active{
    background-color: #34850c !important;
}

.tamanioTarjeta{
    width: 100%;
}