.dashboard-main-layout {
    display: flex;
}

.content-wrapper {
    width: 100%;
    max-width: none;
}

.dashboard-content {
    flex: 1;
    min-width: 0; 
}

.ticket-card {
    width: 100%;
}


.ticket-item {
    width: 100%;
}
